<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - CustomTagHelper</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/material-design-lite/material.css" />
            <link rel="stylesheet" href="~/lib/mdi/css/materialdesignicons.css">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css"
                  asp-fallback-href="~/lib/material-design-lite/material.min.css"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"
                  asp-fallback-href="~/lib/mdi/materialdesignicons.min.css"
                  asp-fallback-test-class="material-icons" asp-fallback-test-property="display" asp-fallback-test-value="inline-block" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-file-version="true" />
        </environment>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">CustomTagHelper</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Movies" asp-action="Index">Movies</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2015 - CustomTagHelper</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/material-design-lite/material.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"
                    asp-fallback-src="~/lib/material-design-lite/material.min.js"asp-fallback-test="window.MaterialButton">
            </script>
            <script src="~/js/site.min.js" asp-file-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
