<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - CustomTagHelper</title>
        <environment names="Development">
        <link rel="stylesheet" href="~/lib/material-design-lite/material.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
        <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.0/material.min.css"
            asp-fallback-href="~/lib/material-design-lite/material.min.css"
            asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link rel="stylesheet" href="~/css/site.css" asp-file-version="true" />
            </environment>
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        </head>
        <body>
            <div class="mdl-layout__container">
                @RenderBody()
            </div>
            <environment names="Development">
            <script src="~/lib/material-design-lite/material.js"></script>
            </environment>
            <environment names="Staging,Production">
            <script src="//storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"
                                                        asp-fallback-src="~/lib/material-design-lite/material.min.js"
                                                        asp-fallback-test="window.componentHandler">
            </script>
            <script src="~/js/site.js" asp-file-version="true"></script>
            </environment>
            @RenderSection("scripts", required: false)
        </body>
    </html>