html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.waterfall-demo-header-nav .mdl-navigation__link:last-of-type {
    padding-right: 0;
}

.demo-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px
}

.mdl-navigation__link.is-active.is-active::before,
.mdl-navigation__link.is-active.is-active::after {
	background-color: #FFF;
  	height: 4px;
}