html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.waterfall-demo-header-nav .mdl-navigation__link:last-of-type {
    padding-right: 0;
}

.demo-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px
}


/*
 	is-active state implementation for navigation links
 */

.mdl-layout__header-row .mdl-navigation__link {
    border-bottom: 4px solid transparent;
}

.mdl-layout__header-row .mdl-navigation__link.is-active {
    border-bottom-color: #FFF;
}

.mdl-layout__drawer .mdl-navigation__link.is-active {
    color: #3f51b5;
}